body{
    /* background-color: #2e2f2f; */
}

h1{
    /* color: #e9e9e9; */
    text-align: center;
    padding: 30px;
    text-shadow: #2e2f2f;
    font-size: 40px;
}

.listaTareas{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}