* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("/assets/img/fondo.jpg");
    /* Opciones adicionales */
    /* background-repeat: no-repeat; Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: repeat;
}


body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

h1{
    /* color: #e9e9e9; */
    text-align: center;
    padding: 30px;
    text-shadow: #2e2f2f;
    font-size: 40px;
}

.listaTareas{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}